*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("hotel-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dropdown{
    display: flex;
    justify-content: center;
    list-style-type: none;
}


a{
    display: block;
    width: 310px;
    background-color: skyblue;
    color: black;
    font-size: 1.2rem;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-color: white;
    border-bottom:2px solid black;
}

.home{
    list-style-type:none;
    display: none;
}

.dropdown li:nth-child(1):hover .home{
    display: block;
}

.bookings{
    display: none;
}

.dropdown li:nth-child(2):hover .bookings{
    display:block;
}





